@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}
<h1>Your order</h1>
<div class="align-content-center">
	<div class="col-3 mx-auto mb-5">
		<img src="~/images/pizza/pizzas/Create.png" class="w-100"/>
		<img class="w-100" asp-append-version="true" />
		<p>Your order for @Model.PizzaName is ready!</p>
		<p>Total price is: @Model.PizzaPrice</p>
		<br/>
		<a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm your order</a> 

	</div>
</div>